.homeintro {
    margin-left: 50px;
    background-image: url(https://res.cloudinary.com/sachininstaclone/image/upload/v1620968576/f2_qxpx8m.jpg);
   height: 400px;
   width: 800px;
    padding: 1rem;
    border-radius: 20px;
    background-size: cover;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  }

  .homeintro_image{
      position: relative;
      left: 0px;
      margin-right: 10px;
      background: rgb(41, 24, 197);
      opacity: 0.4;
      height: 150px;
      width: 250px;
      font-size: 5px;
      margin-top: 200px;
  } 
  .homeintro_h2{
      color: white;
    background: rgb(25, 0, 255);
  }

  .learnmore{
    background: rgb(22, 21, 16);
  }

  .alerts {
    margin-left: 50px;
    height: 400px;
    width: 300px;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
    margin-right: 50px;
  }

  .alerts{
      background: rgb(214, 133, 12);
  }
  .alerts_heading{
      display: flex;
      justify-content: space-between;
  }
  .alert_data{  
      margin-left: 110px;
  }


  .mapdata{
    height: 500px;
    margin-left: 50px;
    width: 1250px;
     padding: 1rem;
     border-radius: 20px;
     margin-top: 16px;
     box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);

  }
  .mapdata_headers{
      display: flex;
      justify-content: space-between;
  }
  .mapdata_map{
    height: 400px;
    width: 650px;
     padding: 1rem;
     border-radius: 20px;
     margin-top: 16px;
     box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  }
  .mapdata_address{
    height: 400px;
    width: 550px;
     padding: 1rem;
     border-radius: 20px;
     margin-top: 16px;
     box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
     display: flex;
     flex-direction: column;
     background-size: cover;
  }

  .mapdata_address_photo{
    background-image: url(../../images/building.jpg);
    height: 200px;
    width: 520px;
     padding: 1rem;
     border-radius: 20px;
     margin-top: 16px;
     box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  }
  .mapdata_map_address{
      display: flex;
  }
  .mapdata_map .leaflet-container{
      height:100% ;
  }
  .mapdata_address_alladdress{
      display: flex;
      flex-direction: row;
  }
  .weathercashbid_weather{
    background: rgb(214, 133, 12);
    height: 400px;
     width: 380px;
     margin-left: 50px;
     padding: 1rem;
     border-radius: 20px;
     margin-top: 16px;
     box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  }
  .weathercashbid_bid{
    height: 400px;
    width: 820px;
    margin-left: 50px;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  }

  .weathercashbid{
      display: flex;
  }
  .weathercashbid_weather-header{
      display: flex;
      justify-content: space-between;
  }

  .announcement{
    background: rgb(7, 6, 6) !important;
    height: 300px !important;
     width: 1250px !important;
     margin-left: 50px !important;
     padding: 1rem !important;
     border-radius: 20px !important;
     margin-top: 16px !important;
     box-shadow: 0 0 8px -4px rgba(201, 23, 23, 0.5)!important;
  }
  .agriculture{
    background: rgb(10, 10, 10) !important;
    height: 370px !important;
     width: 1250px !important;
     margin-left: 50px !important;
     padding: 1rem !important;
     border-radius: 20px !important;
     margin-top: 16px !important;
     box-shadow: 0 0 8px -4px rgba(201, 23, 23, 0.5)!important;

  }
  .agri_announcement{
    background: rgb(231, 229, 229);
    height: 300px;
     width: 1250px;
     margin-left: 50px;
     padding: 1rem;
     border-radius: 20px;
     margin-top: 16px;
     box-shadow: 0 0 8px -4px rgba(201, 23, 23, 0.5);
  }

  .weathercashbid_weather-body{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .weathercashbid_weather-footer{
      display: flex;
  }
  .weathercashbid_bid_header{
      display: flex;
      justify-content: space-around;
  }
  .announcement_text{
      color: white;
  }
  .agriculture_text{
    color: white;
}

  /* .announcement_carousel{
    background: rgb(231, 229, 229);
    height: 200px;
    width: 1020px;
    margin-left: 50px;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 170, 9, 0.5);
  } */

  
  .item{
      max-height: 180px;
  }

  .futuresstories{
      display: flex;
  }
  .contactpage{
      display: flex;
  }

  .contactpage_left{
    height: 300px;
    width: 400px;
    background: white;
    margin-left: 50px;  
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  }
  .contactpage_right{
      background: black;
    height: 300px;
    width: 800px;
    margin-left: 50px;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 16px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }

  .contactpage_image{
      max-height: 50px;
  }

  .contactpage_right_footer-img{
      width: 200px;
      height: 100px;
  }

  .contactpage_right_footer{
      display: flex;
      flex-direction: row;
  }

  .contact_footer{
      margin-left: 150px;
    color: blanchedalmond;
  }
  .contact_footer_head{
      color: blanchedalmond;
  }

  .futures_rows{
      margin-left: 300px;
  }

  .carousel_text{
      color: aliceblue;
  }
  .weathercashbid_bid_footer{
  margin-left: 250px;
  margin-bottom: 200px;
  }

  .viewmore_button{
    /* background: linear-gradient(90deg,#e60fd4,#d3031f); */
    border-radius: 40px !important;
    padding: 12px 36px;
    letter-spacing: 3px;
    font-size: 18px;
    margin: 10px;
    text-transform: uppercase;
    left: 800px;
  }
  .weathercashbid_bid_body{
      flex-grow: 1;
  }
  /* .alerts_body{
    height: 200px;
    overflow: scroll;
    flex-grow: 1;
  } */

  .table_body{
    height: 250px;
    display: inline-block;
    overflow: auto;
    margin-left: 40px;
  }

  .cashbid_body{
    height: 250px;
    display: inline-block;
    overflow: auto;
    padding-right: 0;
  }

  .agri_item
  {
    height: 290px;
    width: 700px;
  }
  .agriculture_title{
    margin-left: 300px;
    color: white;
  }
  